html, body {
	width: auto;
	height: auto;
}
#sketch {
    border:none;
    z-index: -10;
}

.block {
    width: 400px;
    display: table-cell;
    height: 400px;
    background-color: transparent;
    z-index: 1;
    border: 3px solid blue;
}

.block-container {
    display: table;
    height: 100px;
    margin:0 auto;
    margin-top: -410px;
    z-index: 10;
    position: relative;
}

.block-container:nth-child(3){
    margin-top: -700px;
}
